<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <video src="/get/get_video?id=<%= videoId %>" controls></video>
    <p>Id: <%= videoId %></p>
    <p>Name: <%= videoName %></p>
    <p>Uploader: <%= uploader %></p>
    <p>Description: <%= videoDesc %></p>
</body>
</html>